/* body{
  background-image: url(../assets/images/background.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}  */

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

body{
 background: #ddd;
}


/* style nav*/
.my-nav {
  z-index: 10;
}
.my-nav ul {
  padding-left: 0;
  z-index: 10;
}
.my-nav li {
  list-style: none;
}
.my-nav li a {
  text-decoration: none;
}
.my-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  background: #190f40;
  width: 90px;
  overflow: hidden;
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px #0000001a;
}
.logo {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10px;
}
.logo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.logo span {
  font-weight: bold;
  padding-left: 20px;
  font-size: 15px;
  text-transform: uppercase;
}
.style-nav-a {
  position: relative;
  color: #ddd;
  font-size: 14px;
  display: table;
  width: 300px;
  padding: 10px;
}
.fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.obj-sidebar {
  position: relative;
  top: 12px;
  margin-left: 20px;
}
.style-nav-a:hover {
  background: #571673;
}
nav:hover {
  width: 280px;
  transition: all 0.5s;
}
.salir {
  position: absolute;
  bottom: 0;
}





/* style crear evento */
.container-crear-evento {
  border: 6px solid #190f40;
  border-radius: 40px 0 40px 0;
  background-color: #ddd;
  box-shadow: 0px 3px 6px 3px #999;
}
.form-label {
  color: #190f40;
}
.crear-evento {
  color: #190f40;
}
.icon-craer-evento {
  color: #190f40;
  font-size: 1.7rem;
}
.btn-crear-evento {
  border: none;
  background-color: #190f40;
}
.btn-crear-evento:hover {
  background-color: #190f40;
}
.btn-secondary {
  border: none;
  background-color: #0540f2;
}
.btn-secondary:hover {
  border: none;
  background-color: #3d67e4;
}
.btn-primary {
  width: 100px;
}
.conf-crear-evento {
  background-color: #190f40;
  color: #e3e0e0;
}







/* style de los eventos */

.search-icon{
  color: #190f40;
  font-size: 2.3rem;
}

.search-icon:hover{
  color: #571673;
}

/* button Buscar */
.btn-primary {
  background-color: #190f40;
  border: none;
}
.btn-primary:hover {
  background-color: #571673;
}

.text-titulo-evento{
  color: #190f40;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.1rem;
}

.evento {
  border-radius: 40px 0 40px 0;
  background-color: #ddd;
  box-shadow: 2px 3px 10px 3px #190f40;
  height: 77vh;
}

.carousel{
  max-width: 550px ;
}


/* alto imagenes evento */
.img-banner {
  height: 35vh;
}

.text-light-2{
  color: #190f40;
  font-size: 0.9rem;
}





/* iconos sociales */
#likes-evento {
  color: #e61919;
}

#comet-evento {
  color: #129325;
}

.iconos-sociales a {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  margin: 10px;
  border: 3px solid #190f40;
  border-radius: 50%;
  background-color: #ddd;
  transition: all 0.1s ease-in;
}

.iconos-sociales i {
  font-size: 2rem;
  transition: all 0.1s ease-in;
}

.iconos-sociales .likes:hover {
  background-color: #e61919; 
}
#likes-evento:hover{
  color: #ddd;
  font-size: 2.5rem;
}

.iconos-sociales .comentarios:hover {
  background-color: #129325; 
}
#comet-evento:hover{
  color: #ddd;
  font-size: 2.2rem;
}

/* Modal */
.modal-tit {
  background-color: #190f40;
  color: #e3e0e0;
}
.modal-foot {
  background-color: #190f40;
}
.btn-secondary-1{
  background-color: #571673;
  color: #e3e0e0;
  width: 150px;
}
.btn-secondary-1:hover{
  background-color: #933db7;
  color: #e3e0e0;
}


/* 
.mobile-screen{
  display: none;
}


@media (max-width:768px) {
  .laptop-screen{
      display: none;

  }
  
  .mobile-screen{
      display: flex;
  }
} */



/* Medias query */

@media screen and (max-width: 990px) {
  .eventos{
   width: 800px;
   font-size: 0.5rem;
 

    }
}
@media screen and (max-width: 530px) {
   .eventos{
    width: 400px;
    font-size: 0.5rem;
  
  
     }
}

